<!DCOTYPE html> 
<html>
  <head> 
    <meta charset="utf-8">
    <title> Home Page</title>
  </head>

  <body>
    {{> header }}
    <p>  {{screamIt welcomeMessage}} </p>

    {{> footer }}
  </body>
</html>
youku: +16502861898, youare2cool

https://youtu.be/npTFKF8YTeM

