<!DCOTYPE html> 
<html>
  <head> 
    <meta charset="utf-8">
    <title> Home Page</title>
  </head>

  <body>
    {{> header }}

    <p>  My Pproject Portfolia </p>
    blah blah blah

    {{> footer }}
  </body>
</html>
